body{
	margin: 0;
	min-height: 100%;
	overflow: auto;
	background-image: url('../Pictures/bg2.jpg');
	border: solid black;
}
a:visited{
	color:blue;
}
@font-face{
	font-family: bomb;
	src: url('../Font/king.ttf');
}

@font-face{
	font-family: Aurora;
	src: url('../Font/Aurora.ttf');
}

h1 h{
	color: #000;
	letter-spacing: 80px;
	font-size: 100px;
	font-family: bomb;
}

h1{
	margin: 0;
}

marquee{
	margin-bottom: 10px;
	color: #000;
	font-size: 40px;
}

#menu{
	width: 100%;
	border-top: solid;
	border-bottom: solid;
	text-align: center;
	color: #000;
	font-size: 30px;
position:absolute;
}

#border_help{
	border-left: solid black;
}

#menu td:hover{
	background-color: #bbb;
	color: #000;
	font-style: italic;
	cursor: pointer;
}

#main {
	margin: 25px;
	padding: 15px;
	border-radius: 20px;
	box-shadow: -15px 15px 10px grey;
	background-color: white;
	width: 65%;
	min-height: 300px;
	/*float: left;*/
	overflow: hidden;
}

#title{
	font-family: Aurora;
	font-size: 25px;
	letter-spacing: 4px;
	border-bottom: solid 1px;
	border-bottom-style: dashed;
}

#right{
	position: fixed;
	top: 220px;
	right: 38px;
	margin: 30px;
}

.request
            {
		margin: auto;
                text-align:center;
                margin-bottom: 50px;
                width:70%;
                background-color:#B8B8B8;
                border-radius: 5px;
                min-height: 60px;
		padding: 20px;
            }

.home_requests{
	float: left;
	font-size: 50px;
}

.request_form{
	margin: auto;
	text-align:center;
	padding:10px;
	width:110%;
	background-color:#6633FF;
	border-radius: 5px;
	box-shadow: -10px 10px 10px grey;
	height: 50 px;
	margin-top:10px;
	font-family: Condensed;
}

.form{

}

#wraper
{
		position: fixed;
		    width: 100%;
		    height: 100%;
		    left: 0;
		    top: 0;
		    background: black;
		opacity:0;
		    z-index: -1;
}
#Right
{
	position:absolute;
	z-index:-2;
	width:300px;
	margin-left:70%;
}
#left
{
	width:40%;
	margin-left:400px;
	position:absolute;
	margin-top:50px;
	z-index:-2;
}
#main
{
	position:absolute;
	margin-top:70px;
}
#header
{
font-size:50px;
color:#A52A2A;
}

#wrw
{
	margin: 25px;
	margin-top:60px;
	padding: 15px;
	border-radius: 20px;
	box-shadow: -15px 15px 10px grey;
	background-color: white;
	width: 65%;
	min-height: 300px;
	/*float: left;*/
	overflow: hidden;
	position:absolute;
}
a
{
text-decoration:none;
}
