body{
	margin: 0;
	min-height: 100%;
	overflow: auto;
	background-image: url('../Pictures/bg2.jpg');
	border: solid black;
}

@font-face{
	font-family: bomb;
	src: url('../Font/king.ttf');
}

@font-face{
	font-family: Aurora;
	src: url('../Font/Aurora.ttf');
}

h1 h{
	color: #000;
	letter-spacing: 80px;
	font-size: 100px;
	font-family: bomb;
}

h1{
	margin: 0;
}

marquee{
	margin-bottom: 10px;
	color: #000;
	font-size: 40px;
}

#menu{
	width: 100%;
	border-top: solid;
	border-bottom: solid;
	text-align: center;
	color: #000;
	font-size: 30px;
}

#border_help{
	border-left: solid black;
}

#menu td:hover{
	background-color: #bbb;
	color: #000;
	font-style: italic;
	cursor: pointer;
}

#main {
	margin: 25px;
	padding: 15px;
	border-radius: 20px;
	box-shadow: -15px 15px 10px #333;
	background-color: white;
	width: 65%;
	min-height: 300px;
	float: left;
	overflow: hidden;
}

#title{
	font-family: Aurora;
	font-size: 25px;
	letter-spacing: 4px;
	border-bottom: solid 1px;
	border-bottom-style: dashed;
}

#right{
	margin: 30px;
	overflow: hidden;
	min-height: 500px;
}
